<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=|DataDirectory|bookstoreDB.sqlite;Version=3;" />
    <add name="testConnectionString" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>

    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="~/UserPages/login.aspx" defaultUrl="~/index.aspx"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
      
    </authorization>
    <trace enabled="true"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>