        .content-page-wrapper {
            width: 980px;
            height: 500px;
            margin-top: 10px;
        }


        #left-panel {
            display: inline-block;
            width: 630px;
            float: left;
        }

        #right-panel {
            float: right;
            width: 348px;
            display: inline-block;
            border-left: 1px solid #B3B3B3;
        }
       #body-footer{

        margin-top:650px;
        }

       .grid{
           float:left;
       }