<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=|DataDirectory|bookstoreDB.sqlite;Version=3;"/>
  </connectionStrings>
  <system.web>
      <authentication mode="Forms">
        <forms cookieless="UseCookies" loginUrl="~/UserPages/login.aspx" defaultUrl="~/UserPages/index.aspx"></forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
